<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= image_tag restaurant.image.url(:medium) %></td>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

